Monolothic api/node_modules
Monolothic api/.env

Microservices/Service Registery/node_modules
Microservices/Service Registery/.env

Microservices/Speakers Service/node_modules
Microservices/Speakers Service/.env